# Ignore all files by default, but scan all directories
*
!*/

# C++ source files
!source/**/*.cpp
!source/**/*.h
!source/**/*.hpp
!source/**/*.inl

# XMake files
!**/xmake.lua
!xmake/**

# Scripts
!scripts/**

# Git files
!.github/**
!.gitmodules

# Game data files
!game/data/**

# Utilities
!utilities/**.zip