# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
x64
*.sln
build/*
.vs
.idea/*
game/binaries
game/*.lnk

# Logging .txt
game/log.txt
game/memory.txt
game/profiling.txt

# Exclude
!utils/**
!game/*.dll
